{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
  <h1>Microsoft Identity Python Web App</h1>
  
  <li><a href='{{ auth_url }}'>Sign In</a></li>
  
  {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
  <li><a href='{{_build_auth_url(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])}}'>Reset Password</a></li>
  {% endif %}
  
  <hr>
  <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
{% endblock %}